.detalhe-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.detalhe-post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  min-width: 450px;
  max-width: 800px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 40px;
}

.detalhe-titulo{
 text-align: center;
 margin-bottom: 20px;
}

.detalhe-titulo h1{
  margin-bottom: 20px;
}

.detalhe-conteudo{
  text-align: center;
  white-space: pre-wrap;
}

.detalhe-conteudo h3{
  text-align: right;
  margin: 40px 0;
  padding-right: 20px;
}


.detalhe-button  {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.detalhe-button a {
  background-color: #1e293b;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.detalhe-button a:hover{
  background-color: rgba(56, 189, 248, 0.1) ;
  color: #38bdf8;
  transform: scale(1.05);
}