/* Estilo global */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body{
  height: 100%;
  margin: 0;
  background-color: #f9fafb;
  color: #111;
}

/* Links */
a{
  text-decoration: none;
  
}

/* Posts container */
.container-post{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Card de post */
.post-home, .detalhe-post, .login-form {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 600px;
}

.post-home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-home:hover,
.post-detalhe:hover,
.post-form:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.post-titulo{
  font-size: 24px;
  margin-bottom: 12px;
  text-align: center;
}

.post-conteudo{
  font-size: 16px;
  text-align: justify;
  margin-bottom: 16px;
  white-space: pre-wrap;
}

/* Botoes gerais */
button, .ver-mais{
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #1e293b;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease ;
  margin-bottom: 20px;
}

button:hover, .ver-mais:hover{
  background-color: #0ea5e9;
  color: #f9fafb;
  transform: translateY(-2px);
}

/* Inputs e textareas */
input, textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

textarea{
  resize: vertical;
}

/* Formulario */
form.post, form.login-form{
  max-width: 500px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

/* Detalhe do post */
.detalhe-container{
  max-width: 800px;
  margin: 40px auto;
}

.detalhe-titulo h1{
  margin-bottom: 12px;
  text-align: center;
}

.detalhe-conteudo article{
  margin-bottom: 12px;
  text-align: justify;
  margin-top: 20px;
}

.detalhe-button div{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  gap: 30px;
}

.detalhe-button button, .detalhe-button a {
  padding: 8px 16px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.cadastre{
  color: #0ea5e9;
}


.detalhe-button button:hover, .detalhe-button a:hover{
  background-color: #0ea5e9;
  color: #f9fafb;
  transform: translateY(-2px);
} 